.wizard {
  width: 60%;
  background-color: #e5f4ec;
  box-sizing: border-box;
  padding: 1rem;
  margin: 0 auto;
  box-sizing: border-box;
}

.wizar__sub-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
}

.wizard__p {
  margin: 0;
  padding: 0;
}

.wizard__input_container {
  width: 70%;
  margin: 0 auto;
  padding-top: 3rem;
}